/* /////////////////////////////////////////////////////////////////////////////// */

/* Overall formatting */
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    color: peachpuff;
    background-color: #12121d;
}

/* Main Container */

#main-container {
    margin: 10px;
}

/* /////////////////////////////////////////////////////////////////////////////// */
/* Splash Art */

.ppf {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}

/* /////////////////////////////////////////////////////////////////////////////// */
/* Stat Tables Layout */

#stat-comparisons {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#lvl-1-stats {
    padding-left: 10px;
    text-align: center;
}

#lvl-80-stats {
    padding-right: 10px;
    text-align: center;
}

#lvl-1-stats tr.break {
    padding-bottom: 50px;
}

#lvl-80-stats tr.break {
    padding-bottom: 50px;
}

/* /////////////////////////////////////////////////////////////////////////////// */
/* Formatting for Stats */

.info {
    /* border: 1px solid black; */
    width: 49vw;
}

/* Make list of info a table */
.info tr {
    display: table;
    list-style: none;
    padding-left: 0;
}

/* Put every list element into rows */
.info tr > td {
    display: table-row;
}

/* Make each row into cells with padding */
.info tr > td > * {
    display: table-cell;
    padding: 5px;
}

/* Bold and left align all label elements */
.info table label {
    font-weight: bold;
    text-align: left;
}

/* Give a colon after each label element */
.info table label:after{
    content: ':';
}

/* /////////////////////////////////////////////////////////////////////////////// */
